.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 209, 97);
}

.Kasia_Kozak {
  border: 2vh solid rgba(156, 17, 108, 0.269);
  height: 65vh;
  border-radius: 3rem;
  cursor: pointer;
}


.sign {
  position: absolute;
  visibility: 0;
  opacity: 0;
  color: rgb(174, 33, 99);
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: all 0.8s;
}

.sign_left {
  left: 6vw;
}

.sign_right {
  left: 68vw;
}

.sign_vis {
  visibility: 1;
  opacity: 1;
}

.heart_container {
  position: relative;
  left: -17vw;
  top: -65vh;
}

.heart {
  position: absolute;
  width: 5vw;
  height: auto;
  display: none;
}

.heart01 {
  left: -1vw;
  top: -6vh;
}

.heart02 {
  left: -1vw;
  top: 10vh;
}

.heart03 {
  left: -1vw;
  top: 27vh;
}

.heart04 {
  left: -1vw;
  top: 43vh;
}

.heart05 {
  left: 4vw;
  top: 60vh;
}

.heart06 {
  left: 12vw;
  top: 60vh;
}

.heart07 {
  left: 20vw;
  top: 60vh;
}

.heart08 {
  left: 26vw;
  top: 45vh;
}

.heart09 {
  left: 26vw;
  top: 27vh;
}

.heart10 {
  left: 26vw;
  top: 10vh;
}

.heart11 {
  left: 26vw;
  top: -6vh;
}

.heart12 {
  left: 20vw;
  top: -20vh;
}

.heart13 {
  left: 12vw;
  top: -20vh;
}

.heart14 {
  left: 5vw;
  top: -20vh;
}

.active {
  position: absolute;
  display:  flex;
  height: 7rem;
}

@media screen and (max-width: 965px) {
  .sign {
    background-color: bisque;
  }

  .App {
    justify-content: start;
    width: 100vw
  }

  .Kasia_Kozak {
    margin-top: 8vh;
  }
  
  .heart_container {
    display: none;
  }

  .heart01 {
    left: -1vw;
    top: 5vh;
  }
  
  .heart02 {
    left: -1vw;
    top: 15vh;
  }
  
  .heart03 {
    left: -1vw;
    top: 27vh;
  }
  
  .heart04 {
    left: -1vw;
    top: 40vh;
  }
  
  .heart05 {
    left: 9vw;
    top: 50vh;
  }
  
  .heart06 {
    left: 35vw;
    top: 58vh;
  }
  
  .heart07 {
    left: 62vw;
    top: 50vh;
  }
  
  .heart08 {
    left: 74vw;
    top: 40vh;
  }
  
  .heart09 {
    left: 74vw;
    top: 27vh;
  }
  
  .heart10 {
    left: 74vw;
    top: 16vh;
  }
  
  .heart11 {
    left: 74vw;
    top: 5vh;
  }
  
  .heart12 {
    left: 60vw;
    top: -5vh;
  }
  
  .heart13 {
    left: 35vw;
    top: -10vh;
  }
  
  .heart14 {
    left: 9vw;
    top: -5vh;
  }

  .sign_left {
    font-size: 2.5rem;
    bottom: 1.5rem;
  }
  
  .sign_right {
    font-size: 2.5rem;
    bottom: 1.5rem;
  }

}


@media (prefers-reduced-motion: no-preference) {
  .active {
    animation: active-spin infinite 10s linear;
  }
}

@keyframes active-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
